/* src/components/HoverCards.module.css */
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  padding: 1rem;
}

.card {
  background-color: #444;
  color: white;
  padding: 1rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 10px;
  position: relative;
  z-index: 3;
}

.card:hover {
  background-color: #666;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }

  .left {
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .card {
    flex: 1;
    margin: 0.2rem;
    text-align: center;
    max-width: 30vw;
  }
}
